.all-palettes{
  display: flex;
  margin: 15px;
}

.individual-project {
  overflow-x: scroll;
  border: solid 1px hsla(0, 0%, 27%, .3);
  margin:15px;
  border-radius: .3em;
  box-shadow: 0 2px 0 2px rgba(0,0,0,.04);
}
.project-header{
  display:flex;
  justify-content: space-between;
  margin: 0 20px;

}
.project-title{
  font-size: 1.5em;
}

.delete-project-btn{
  height: 30px;
  cursor: pointer;
  margin: 24px 0;
  padding: 2px;
}

.delete-project-btn:hover{
  height: 35px;
  margin: 22.25px 0;
}